.button{
    font-size:20px;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color:rgb(255, 255, 255);
    border:none;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  
    &__blue{
      background-color:royalblue;
  
      &:hover{
        background-color:rgb(29, 46, 99);
      }
    }
  
    &__red{
      background-color:rgb(235, 2, 2);
  
      &:hover{
        background-color:rgb(116, 16, 16);
      }
    }
  }