.header{
    &__text{
      color:black;
    }
  
    &__icon-wrapper{
      padding-top:15px;
      padding-bottom:15px;
    }
  
    &__icon{
      color:black;
      &:hover{   
        color:#fff;
    }
    
    } 
  
    &__wrapper{
      border: 0px solid royalblue;
      background-color:royalblue;
      display: flex;
      flex-direction:row;
      justify-content:space-between;
      padding-left: 20px;
      padding-right: 20px;
      
      height: fit-content;
      font-size: 13px;
      border-radius: 20px 20px 0 0;
    }
  }